@import "@livfit/ui/styles.css";

@layer base {
  :root {
    --background: 244.25 0.01 0.98; /* oklch(0.9751 0.0127 244.2507) */
    --foreground: 282.93 0.04 0.23; /* oklch(0.2284 0.0384 282.9324) */
    --primary: 248.74 0.15 0.56; /* oklch(0.5575 0.1528 248.7413) */
    --primary-foreground: 0 0 1;
    --secondary: 90.43 0.17 0.84; /* oklch(0.8419 0.1684 90.4299) */
    --secondary-foreground: 282.93 0.04 0.23;
    --accent: 148.34 0.21 0.73; /* oklch(0.7266 0.2085 148.3381) */
    --accent-foreground: 0 0 1;
    --muted: 241.35 0.02 0.94; /* oklch(0.9449 0.0211 241.3536) */
    --muted-foreground: 284.48 0.05 0.49; /* oklch(0.4866 0.0478 284.4826) */
    --border: 238.26 0.03 0.91; /* oklch(0.9083 0.0287 238.2610) */
    --input: 0 0 1;
    --ring: 248.74 0.15 0.56;
    --radius: 6px;
    --tracking-normal: 0.05em;
  }

  .dark {
    --background: 333.70 0.04 0.10; /* oklch(0.0996 0.0446 333.6966) */
    --foreground: 0 0 1;
    --primary: 303.17 0.22 0.43; /* oklch(0.4285 0.2165 303.1694) */
    --primary-foreground: 0 0 1;
    --secondary: 24.67 0.22 0.53; /* oklch(0.5326 0.2157 24.6735) */
    --secondary-foreground: 0 0 1;
    --accent: 35.22 0.23 0.66; /* oklch(0.6593 0.2301 35.2202) */
    --accent-foreground: 0 0 1;
    --muted: 332.51 0.07 0.16; /* oklch(0.1595 0.0718 332.5107) */
    --muted-foreground: 325.90 0.03 0.67; /* oklch(0.6725 0.0297 325.9014) */
    --border: 332.61 0.09 0.20; /* oklch(0.1969 0.0886 332.6137) */
    --ring: 303.17 0.22 0.43;
    --tracking-normal: 0.08em;
  }
}

@theme {
  --tracking-normal: var(--tracking-normal);
}

@layer base {
  body {
    letter-spacing: var(--tracking-normal);
  }
}
